[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "starknet_felt_packing"]
	url = https://github.com/gaetbout/starknet-felt-packing
	path = lib/starknet_felt_packing
